{% extends "shared/dashboard_base.html" %}

{% block title %}{{ title if title else 'Member Dashboard' }}{% endblock %}

{% block page_content %}
<div class="widget-grid">
    <!-- Member Widget 2: My Leader -->
    <div class="widget">
        <div class="widget-header" style="padding-bottom: 20px;">
            <span>MY LEADER</span>
            <span class="widget-menu-icon"></span>
        </div>
        <div class="widget-content">
            {% if leader %}
            <div class="stat-details">
                <p><i class="fas fa-user-tie"></i>Leader: {{ leader.username }}</p>
                <p><i class="fas fa-envelope"></i>Leader Email: {{ leader.email }}</p>
            </div>
            {% else %}
            <div class="stat-details">
                <p class="text-muted"><i class="fas fa-exclamation-circle"></i> You are not currently assigned to a
                    leader.</p>
            </div>
            {% endif %}
        </div>
    </div>

    <!-- Member Widget 1: My Profile -->
    <div class="widget">
        <div class="widget-header" style="padding-bottom: 20px;">
            <span>MY PROFILE</span>
            <span class="widget-menu-icon"></span>
        </div>
        <div class="widget-content">
            <div class="stat-details">
                <p class><i class="fas fa-user"></i>Username: {{ member.username }}</p>
                <p><i class="fas fa-envelope"></i>Email: {{ member.email }}</p>
                <p><i class="fas fa-calendar-alt"></i>Joined: {{ member.created_at | datetime_custom }}</p>
                <p><i class="fas fa-tag"></i>Referral Code: {{ referral_code }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

</html>