{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="row justify-content-center mt-4">
    <div class="col-11 col-sm-9 col-md-7 col-lg-5 col-xl-4">
        <div class="card shadow-lg">
            <div class="card-body p-4 p-md-5">
                <h2 class="card-title mb-4 fw-semibold">{{ title if title else 'Login' }}</h2>
                
                {% include '_flash_messages.html' %}

                <form method="POST" action="{{ url_for('auth.change_password') }}" class="mt-5">
                    <div class="mb-3">
                        <label for="current_password" class="form-label">Current Password</label>
                        <input type="password" id="current_password" name="current_password" class="form-control"
                            required>
                    </div>
                    <div class="mb-3">
                        <label for="new_password" class="form-label">New Password</label>
                        <input type="password" id="new_password" name="new_password" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="confirm_password" class="form-label">Confirm New Password</label>
                        <input type="password" id="confirm_password" name="confirm_password" class="form-control"
                            required>
                    </div>
                    <div class="mt-4 mb-3">
                        <button type="submit" class="btn me-2"
                            style="background-color: var(--primary-color); color: var(--white-color);">Update
                            Password</button>
                        <a href="{% if current_user.role == 'admin' %}{{ url_for('admin.admin_dashboard') }}{% elif current_user.role == 'leader' %}{{ url_for('leader.leader_dashboard') }}{% else %}{{ url_for('member.member_dashboard') }}{% endif %}"
                            class="btn"
                            style="background-color: var(--black-color); color: var(--white-color);">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block page_scripts %}
{{ super() }}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const form = document.querySelector('form[action="{{ url_for("auth.change_password") }}"]');
        if (form) {
            form.addEventListener('submit', function () {
                const submitButton = form.querySelector('button[type="submit"]');
                if (submitButton) {
                    submitButton.setAttribute('disabled', 'true');
                    submitButton.innerText = 'Updating...'; // Optional: provide visual feedback
                }
            });
        }
    });
</script>
{% endblock %}