# Virtual environment
venv/
__pycache__/

# Instance folder (contains secrets and DB)
instance/

# Environment variables
.env

# IDE specific files
.vscode/
.idea/

# OS specific files
*.pyc
*~
.DS_Store
