Flask
Flask-SQLAlchemy
Flask-Migrate
python-dotenv
Flask-WTF
pandas
openpyxl
gunicorn
Werkzeug
Jinja2
click
itsdangerous
SQLAlchemy
blinker
MarkupSafe
colorama
greenlet
alembic
WTForms
psycopg2-binary
