{% extends 'base.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Welcome to the Affiliate System</h1>
        <p class="col-md-8 fs-4">Manage your leaders, offline users, and track performance efficiently. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <a class="btn btn-primary btn-lg" href="{{ url_for('auth.login') }}" role="button">Login Now</a>
        {# Optionally add a registration link if you implement it later #}
        {# <a class="btn btn-secondary btn-lg" href="{{ url_for('auth.register') }}" role="button">Register</a> #}
    </div>
</div>

<div class="row align-items-md-stretch">
    <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
            <h2>About Us</h2>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
            {# <button class="btn btn-outline-light" type="button">Learn More</button> #}
        </div>
    </div>
    <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
            <h2>Features</h2>
            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
            {# <button class="btn btn-outline-secondary" type="button">Explore Features</button> #}
        </div>
    </div>
</div>
{% endblock %}
