{% extends 'base.html' %}

{% block title %}Create Offline User{% endblock %}

{% block content %}
    <h2>Create New Offline User</h2>
    <p>This user will be assigned to you ({{ session.username }}).</p>
    <form method="post">
        <div>
            <label for="username">Username</label><br>
            <input type="text" id="username" name="username" required value="{{ request.form.username }}">
        </div>
        <br>
        <div>
            <label for="password">Password</label><br>
            <input type="password" id="password" name="password" required>
        </div>
        <br>
        <div>
            <button type="submit">Create Offline User</button>
            <a href="{{ url_for('leader.list_offline_users') }}" style="margin-left: 10px;">Cancel</a>
        </div>
    </form>
{% endblock %}
